body {
  background-color: #2c2c54;
  margin-bottom: 180px;

  line-height: 28px;
}
.well {
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #bbc3cc;
  border-bottom: 5px solid #bbc3cc;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
h3 {
  font-family: "Courgette", cursive;
  font-weight: 300;
  font-size: xx-large;
  color: #00008b;
}
p {
  font-family: "Crimson Text", serif;
  font-weight: 250;
  font-size: x-large;
}

.vertical-center {
  padding-top: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.but {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
}
